<div class="au-o-grid__item au-u-1-1 au-u-2-6@medium">
  <div class="au-c-body-container au-c-action-sidebar">
    <AuToolbar @border="bottom" @size="large" @nowrap="true" tabindex="0">
      <AuToolbarGroup>
        <div>
          <AuHeading @level="2" @skin="3">Melding {{this.model.organization.fullName}}</AuHeading>
        </div>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <div class="au-o-box">
          <LinkTo @route='search.submissions.index' class="link--icon--close">
            <span class="au-u-hidden-visually">Venster sluiten</span>
          </LinkTo>
        </div>
      </AuToolbarGroup>
    </AuToolbar>
    <div class="au-o-box au-c-body-container au-c-body-container--scroll">
      <div class="au-u-margin-bottom">
        <Submissions::Form @submission={{this.model}}/>
      </div>
    </div>
    <AuToolbar @border="top" @size="large" class="au-u-hide-on-print">
      <AuToolbarGroup>
        <AuButtonGroup>
          <LinkTo @route="search.submissions.index" class="au-c-button au-c-button--secondary">Sluit venster</LinkTo>
        </AuButtonGroup>
      </AuToolbarGroup>
    </AuToolbar>
  </div>
</div>
