/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==========================================================================
  Form fixes
 ========================================================================== */

/* Date range; fix in appuniversum */

.date-range__group { // make sure it fits in the topbar
  width: 100%;
  float: none;
  margin: $au-unit-small 0;
}

.date-range__group+.date-range__group {
  margin-left: 0;
}

.date-range__label {
  width: 4rem;
}

/* ==========================================================================
  Utilities
 ========================================================================== */

// Fix ACMIDM login alerts/loading in header
// @TODO: rework ACMIDM components to work with appuniversum classes
.au-c-main-header__actions .alert {
  position: absolute;
  right: $au-unit-small;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

// Position ACMIDM login loader
.au-c-main-header__actions .u-padding--round--small {
  position: absolute;
  right: 0;
  max-width: 480px;
  top: $au-unit-large - calc($au-unit-tiny / 2);
  padding: 0;
  background-color: $au-white;

  .loader-wrapper {
    padding: 0;
  }
}

/* ==================================
  #IE 11 appuniversum fixes
  @TODO: update in appuniversum
  ================================== */

.au-c-alert__content {
  display: block;
}

div:focus,
span:focus,
table:focus,
td:focus {
  outline: 0 !important;
}

.checkbox + .au-c-label {
  display: inline-block;
}

/* ==========================================================================
  Manage responsiveness
  // make into an accordion
  ========================================================================== */

.au-c-main-container__content.au-c-main-container__content--scroll {
  height: calc(100vh - 4.2rem); // make sure scrolling happens as anticipated on medium sizes

  @include mq($until: small) { // make sure you can scroll through everything in firefox on small sizes
    .au-o-grid--fixed,
    .au-o-grid--fixed > .au-o-grid__item {
      height: auto;
      overflow: auto;
    }
  }

  @include mq($from: small) { // make sure grid looks good when stacked, too much spacing

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item:first-child {
      padding-bottom: 0
    }

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item + .au-o-grid__item {
      padding-top: 0;
    }

  }
}
