/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* ==========================================================================
  Utilities
 ========================================================================== */

// Fix ACMIDM login alerts/loading in header
// https://github.com/appuniversum/ember-appuniversum/issues/142
.au-c-main-header__actions .au-c-alert {
  position: absolute;
  right: $au-unit-small + $au-unit-tiny;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

// Position ACMIDM login loader
.au-c-main-header__actions .au-c-loader {
  position: absolute;
  right: 0;
  max-width: 480px;
  top: $au-unit-large - $au-unit-tiny;
  padding: 0;
  background-color: $au-white;
}

/* ==========================================================================
  Manage responsiveness
  // make into an accordion
  ========================================================================== */

.au-c-main-container__content.au-c-main-container__content--scroll {
  height: calc(100vh - 4.2rem); // make sure scrolling happens as anticipated on medium sizes

  @include mq($until: small) { // make sure you can scroll through everything in firefox on small sizes
    .au-o-grid--fixed,
    .au-o-grid--fixed > .au-o-grid__item {
      height: auto;
      overflow: auto;
    }
  }

  @include mq($from: small) { // make sure grid looks good when stacked, too much spacing

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item:first-child {
      padding-bottom: 0
    }

    .au-c-sidebar .au-o-grid--small > .au-o-grid__item + .au-o-grid__item {
      padding-top: 0;
    }

  }
}

// Close button
.au-c-close {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: $au-gray-700;

  &:hover {
    color: $au-gray-600;
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-close--large {
  top: $au-unit;
  right: $au-unit;
}
