<ErrorLayout>
  <:title>
    Deze pagina werd niet gevonden
  </:title>
  <:content>
    <p>Deze pagina vonden we niet terug.</p>
  </:content>
  <:link>
    <AuLink @route="index" @skin="button" class="au-u-margin-top">
      Terug naar de startpagina
    </AuLink>
  </:link>
  <:decoration>
    <img src="/assets/images/status/page-not-found.svg" alt="" />
  </:decoration>
</ErrorLayout>