/* ==========================================================================
  Status pills
  Style what status pills look like here.
 ========================================================================== */


.pill {
  &[resource^="http://data.lblod.info/melding-statuses/"],
  &[resource^="http://lblod.data.gift/concepts/"],
  &[resource^="http://data.lblod.info/document-statuses/"] {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    position: relative;
    white-space: nowrap;
    padding-right: 10px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      width: 5px;
    }
  }
  &[resource="http://data.lblod.info/melding-statuses/afgehandeld"]::after,
  &[resource="http://lblod.data.gift/concepts/5b36ed48-491c-4177-ae31-31338dc46de1"]::after,
  &[resource="http://data.lblod.info/document-statuses/concept"]::after {
    background-color: #B2B2B2;
  }
  &[resource="http://data.lblod.info/document-statuses/goedgekeurd"]::after {
    background-color: #333333;
  }
  &[resource="http://data.lblod.info/melding-statuses/te-behandelen"]::after,
  &[resource="http://lblod.data.gift/concepts/d72999bf-2ef4-4332-bd6e-49c8a9e2498e"]::after,
  &[resource="http://data.lblod.info/document-statuses/opmerking"]::after {
    background-color: #FEE539;
  }
  &[resource="http://data.lblod.info/document-statuses/verstuurd"]::after {
    background-color: #0F68C9
  }
  &[resource="http://data.lblod.info/document-statuses/prullenbak"]::after {
    background-color: #B2B2B2;
  }
}

/* ==========================================================================
  Status pills new
  Style what status pills look like here.
 ========================================================================== */

$au-pill-color-success                : $au-white !default;
$au-pill-background-color-success     : $au-green-700 !default;
$au-pill-border-color-success         : $au-green-700 !default;
$au-pill-color-warning                : $au-yellow-900 !default;
$au-pill-background-color-warning     : $au-yellow-400 !default;
$au-pill-border-color-warning         : $au-yellow-400 !default;

.au-c-pill {
  font-size: 1.2rem !important;
  white-space: nowrap;

  &[resource="http://lblod.data.gift/concepts/5b36ed48-491c-4177-ae31-31338dc46de1"],
  &[resource="Afgehandeld"] {
    color: $au-pill-color-success !important;
    background-color: $au-pill-background-color-success !important;
    border-color: $au-pill-border-color-success !important;
  }

  &[resource="http://lblod.data.gift/concepts/d72999bf-2ef4-4332-bd6e-49c8a9e2498e"],
  &[resource="Te behandelen"] {
    color: $au-pill-color-warning !important;
    background-color: $au-pill-background-color-warning !important;
    border-color: $au-pill-border-color-warning !important;
  }
}
