<main class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
  <section class="au-o-region">
    <div class="au-o-layout au-o-flow">
      <AuHeading @level="1" @skin="1">Contact</AuHeading>
      <ContactForm />

      <p>
        Of neem rechtstreeks contact op via mail
        <AuLinkExternal href="mailto:LoketLokaalBestuur@vlaanderen.be">
          LoketLokaalBestuur@vlaanderen.be
        </AuLinkExternal>.
      </p>
    </div>
  </section>
  <AppFooter />
</main>
