<div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--small">
      {{outlet}}
    </div>
  </section>
  <AppFooter />
</div>
