<div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="au-c-main-container__content au-c-main-container__content--scroll">
  <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
    <img sizes="50vw" src="/assets/images/inzendingen-header-1600.jpg" srcset="/assets/images/inzendingen-header-320.jpg 320w, /assets/images/inzendingen-header-1024.jpg 1024w, /assets/images/inzendingen-header-1600.jpg 1600w" alt="" role="none">
  </AuContentHeader>

  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--small">
      <AuContent @skin="large">
        <AuToolbar as |Group|>
          <Group>
            <AuHeading @level="1" @skin="1">{{(app-name)}}</AuHeading>
          </Group>
        </AuToolbar>

        <LoginButton />

        {{!-- TODO: Replace this for eredienst toezichtsdatabank --}}
        <p>Dit is een publieke besluitendatabank van het Agentschap Binnenlands Bestuur. Via deze databank zijn alle meldingsplichtige besluiten terug te vinden die door de lokale besturen gemeld of ingezonden werden via het Loket voor Lokale Besturen. Meer info over dit loket vind je op volgende pagina: <AuLinkExternal href="https://lokaalbestuur.vlaanderen.be/besluitendatabank">https://lokaalbestuur.vlaanderen.be/besluitendatabank</AuLinkExternal></p>
        <p>Lukt het aanmelden niet? Neem contact op met uw lokale beheerder. Indien er zich een probleem voordoet, contacteer <AuLinkExternal href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">gebruikersbeheer Vlaanderen</AuLinkExternal>.</p>
        <p>Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet verschijnt.</p>
      </AuContent>
    </div>
  </section>

  <AppFooter />
</div>
